
<ul class="list-group">
    <li class="list-group-item">/api/Cidades</li>
    <li class="list-group-item">/api/Bairros</li>
    <li class="list-group-item">/api/CLientes</li>
    <li class="list-group-item">/api/Funcionarios</li>
    <li class="list-group-item">/api/TipoPagamentos</li>
    <li class="list-group-item">/api/Funcao</li>
    <li class="list-group-item">/api/TipoFornecedor</li>
    <li class="list-group-item">/api/Fornecedor</li>
    <li class="list-group-item">/api/Produtos</li>
    <li class="list-group-item">/api/Unidades</li>
    <li class="list-group-item">/api/EntradaProdutoDetalhes</li>
    <li class="list-group-item">/api/EntradaProdutoRegistros</li>
    <li class="list-group-item">/api/Acessos</li>
    <li class="list-group-item">/api/OrcamentoDetalhes</li>
    <li class="list-group-item">/api/OrcamentoRegistros</li>
    <li class="list-group-item">/api/VendaRegistros</li>
    <li class="list-group-item">/api/VendaDetalhes</li>
</ul>